
:root{
    --primary-color: #2e0a0c;
    --dark-green: #15282c;
    --baby-tone: #c89993;
}
body{
    background-color: var(--primary-color) !important;
    color: var(--baby-tone);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
.display-1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--baby-tone);
}
.lead{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--baby-tone) !important;
}
.btn-primary{
    background-color: var(--dark-green) !important;
    border: none;
    color: var(--baby-tone);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn-primary:hover{
  border: 1px solid var(--baby-tone) !important;
}
.btn-outline-success{
    background-color: var(--dark-green) !important;
    border: none;
    color: var(--baby-tone) !important;
    border: 1px solid var(--baby-tone) !important;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .px-8{
        padding-left: 7rem !important;
        padding-right: 7rem !important;
    }
}
